<h1>Register</h1>
<form action="/auth-code-flow/register" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName" required>
  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" required>
  <button type="submit">Register</button>
</form>